body {
  display: grid;
  grid:
    "header" auto
    "nav" auto
    "main" auto
    "footer" auto / 1fr;

  grid-gap: 1em;
  min-height: 100vh;
  /*padding: 0.25em;*/
  background: dimgray;
}

@media (min-width: 42em) {
  body {
    grid:
      "header header" auto
      "nav main" 1fr
      "nav footer" auto / 12em 1fr;
  }
}

body {
  background: tan;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

header,
nav,
main,
footer {
  background: lightgrey;
  padding: 1em;
  font-variant: small-caps;
}
